spring:
  application:
    name: lab
  datasource:
    url: jdbc:h2:mem:urlshortener
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

app:
  link:
    ttl-hours: 24
    default-click-limit: 100
    short-code-length: 6
  cleanup:
    rate-minutes: 60
